<div class="topbar shell">
  <div class="topbar__links">
    <a matButton href="https://szostygracz.pl/wspieraj/" target="_blank" rel="noreferrer">
      <mat-icon>favorite_border</mat-icon>
      WSPIERAJ 6G
    </a>
    <a matButton href="https://szostygracz.pl/moje-konto/" target="_blank" rel="noreferrer">
      <mat-icon>person_outline</mat-icon>
      Moje konto
    </a>
    <a matButton href="https://szostygracz.pl/alert-meczowy/" target="_blank" rel="noreferrer">
      <mat-icon>notifications_none</mat-icon>
      Alert meczowy
    </a>
  </div>
</div>
